version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    image: blk-hacking-ind-kiran-as
    ports:
      - "5477:5477"
    volumes:
      - .:/app
    environment:
      - ENV=development
    command: uvicorn main:app --host 0.0.0.0 --port 5477 --reload